.customers{
    margin-top: 142px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        @include font(18px, 600, $font-poppins);
        line-height: 27px;
        color: $color-black;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
        border: 1px solid $color-gray;
    }
    .arrow__black{
        &::before{
            top: 14px;
            transform: rotate(45deg);
        }
        &::after{
            top: 17px;
            transform: rotate(-45deg);
        }
    }
    &__item{
        display: flex !important;
        justify-content: center;
        position: relative;
        border: 1px solid #f1f1f1;
        border-radius: 12px;
        padding: 24px 32px 40px 32px;
        margin-bottom: 25px;
    }
    &__description{
        text-align: center;
        width: 80%;
        @include font(15px,500,$font-poppins);
        color: $color-black;
    }
    &__name{
        @include font(12px,600,$font-poppins);
        color: #A9A9A9;
        margin: 24px 0 16px;
    }
    &__img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
    }
}
.slider{
    margin: 41px -16px 0 -16px;
}