.header{
    &__top{
        margin: 16px 0;
        justify-content: space-between;
        a{
            @include font(12px, 400);
            color: $color-black;
            transition: 0.3s;
            &:hover{
                color: $color-green;
            }
        }
    }
    &__contact{
        display: flex;
        li{
            margin-right: 33px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__middle{
        justify-content: space-between;
        align-items: center;
        padding: 54px 0;
        border-top: 1px solid rgba(21, 21, 21, 0.1);
    }
    &__bottom{
        background-color: $color-gray;
    }
    &__search{
        background-color: $color-gray;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
        padding:11px 16px;
        align-items: center;
    }
    &__description{
        padding-right: 48px;
        @include font(15px, 700);
        transition: 0.3s;
        &:hover{
            transform: scale(0.95);
        }
        &--drop{
            display: none;
            position: absolute;
            left: -10px;
            top: 31px;
            background-color: $color-gray;
            border: 1px solid #d1d1d1;
            border-top: none;
            border-radius: 0 0 15px 15px;
            text-align: center;
            width: 100%;
            li{
                color: $color-black;
                padding: 10px 0;
                font: inherit;
            }
            &.is-down{
                display: block;
                z-index: 1;
                li{
                    transition: 0.3s;
                    &:hover{
                        background-color: $color-green;
                        color: #fff;
                        &:last-child{
                            border-radius: 0 0 15px 15px;
                        }
                    }
                }
            }
        }
    }
    &__input{
        background-color: $color-gray;
        padding: 3px 0 3px 24px;
		border: none;
		outline: none;
		background-color: transparent;
        border-left: 2px solid #D1D1D1;
        color: #A9A9A9;
		min-width: 230px;
		&::placeholder {
            color: #A9A9A9;
		}
    }
    &__icon{
        transition: 0.3s;
        &:hover{
            transform: rotate(-90deg);
        }
    }
    &__person{
        margin-right: 42px;
    }
    &__basket{
        position: relative;
    }
    &__menu{
        display: flex;
        padding: 16px 0;
    }
    &__list{
        @include font(15px, 700);
        margin-right: 54px;
        &:last-child{
            margin-right: 0;
        }
        li{
            margin-top: 10px;
            display: none;
            width: 100%;
            text-align: center;
        }
        &.is-active{
            li{
                display: block;
            }
        }
    }
    &__title{
        transition: 0.3s;
        &.arrow{
            &::before{
                right: -10px;
            }
            &::after{
                right: -14px;
            }
        }
        &:hover{
            color: $color-green;
        }
    }
}
.basket__counter{
    position: absolute;
    left: -15px;
    bottom: -3px;
    min-width: 10px;
    min-height: 10px;
    padding: 1px 6px;
    color: #fff;
    background-color: #E5704B;
    font-size: 12px;
    border-radius: 50%;
    transform: translateX(50%);
}
.nav{
    &__link{
        margin-right: 38px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.dropdown {
	&__wrapper {
		display: flex;
		padding: 16px 0;
		flex-wrap: wrap;
	}
	&__title {
		@include font(16px, 500, 22px);
		position: relative;
		margin-right: 54px;
		cursor: pointer;
        &.arrow{
            &::before{
                right: -12px;
            }
            &::after{
                right: -15px;
            }
        }
	}
	&__list {
		display: none;
        position: absolute;
        z-index: 1;
        background-color: $color-gray;
        top: 40px;
        border: 1px solid #d1d1d1;
        border-top: none;
        border-radius: 0 0 12px 12px;
		&.is-active {
			display: block;
			z-index: 1;
        }
        li{
            padding: 10px 10px 10px 5px;
            transition: 0.3s;
            &:hover{
                color: #fff;
                background-color: $color-green;
                &:last-child{
                    border-radius: 0 0 12px 12px;
                }
            }
        }
	}
}