* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

li {
  list-style-type: none;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

.container {
  max-width: 1260px;
  margin: auto;
}

.row {
  display: flex;
}

.relative {
  position: relative;
}

.arrow {
  position: relative;
  cursor: pointer;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #6A983C;
}

.arrow::before {
  right: 29px;
  transform: rotate(45deg);
}

.arrow::after {
  right: 26px;
  transform: rotate(-45deg);
}

.arrow__horizontal {
  position: relative;
  cursor: pointer;
}

.arrow__horizontal::before, .arrow__horizontal::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  border-radius: 5px;
  right: 22px;
  background-color: #151515;
  transition: 0.3s;
}

.arrow__horizontal::before {
  top: 20px;
  transform: rotate(45deg);
}

.arrow__horizontal::after {
  top: 24px;
  transform: rotate(-45deg);
}

.btn__green {
  color: #fff;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 7px 12px;
  transition: 0.3s;
}

.btn__green:hover {
  color: #6A983C;
  background-color: #fff;
}

.btn__gray {
  background-color: #F5F5F5;
  border-radius: 12px;
  color: #151515;
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 12px 38px 12px 16px;
  border: none;
  outline: none;
  margin-top: 48px;
  transition: 0.3s;
}

.btn__gray:hover {
  background-color: #151515;
  color: #F5F5F5;
}

.btn__plain {
  padding: 6px 34px 6px 12px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn__plain a {
  color: #151515;
}

.col-2 {
  width: 16.6%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 42%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.header__top {
  margin: 16px 0;
  justify-content: space-between;
}

.header__top a {
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  color: #151515;
  transition: 0.3s;
}

.header__top a:hover {
  color: #6A983C;
}

.header__contact {
  display: flex;
}

.header__contact li {
  margin-right: 33px;
}

.header__contact li:last-child {
  margin-right: 0;
}

.header__middle {
  justify-content: space-between;
  align-items: center;
  padding: 54px 0;
  border-top: 1px solid rgba(21, 21, 21, 0.1);
}

.header__bottom {
  background-color: #F9F9F9;
}

.header__search {
  background-color: #F9F9F9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 11px 16px;
  align-items: center;
}

.header__description {
  padding-right: 48px;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  transition: 0.3s;
}

.header__description:hover {
  transform: scale(0.95);
}

.header__description--drop {
  display: none;
  position: absolute;
  left: -10px;
  top: 31px;
  background-color: #F9F9F9;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-radius: 0 0 15px 15px;
  text-align: center;
  width: 100%;
}

.header__description--drop li {
  color: #151515;
  padding: 10px 0;
  font: inherit;
}

.header__description--drop.is-down {
  display: block;
  z-index: 1;
}

.header__description--drop.is-down li {
  transition: 0.3s;
}

.header__description--drop.is-down li:hover {
  background-color: #6A983C;
  color: #fff;
}

.header__description--drop.is-down li:hover:last-child {
  border-radius: 0 0 15px 15px;
}

.header__input {
  background-color: #F9F9F9;
  padding: 3px 0 3px 24px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 2px solid #D1D1D1;
  color: #A9A9A9;
  min-width: 230px;
}

.header__input::placeholder {
  color: #A9A9A9;
}

.header__icon {
  transition: 0.3s;
}

.header__icon:hover {
  transform: rotate(-90deg);
}

.header__person {
  margin-right: 42px;
}

.header__basket {
  position: relative;
}

.header__menu {
  display: flex;
  padding: 16px 0;
}

.header__list {
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  margin-right: 54px;
}

.header__list:last-child {
  margin-right: 0;
}

.header__list li {
  margin-top: 10px;
  display: none;
  width: 100%;
  text-align: center;
}

.header__list.is-active li {
  display: block;
}

.header__title {
  transition: 0.3s;
}

.header__title.arrow::before {
  right: -10px;
}

.header__title.arrow::after {
  right: -14px;
}

.header__title:hover {
  color: #6A983C;
}

.basket__counter {
  position: absolute;
  left: -15px;
  bottom: -3px;
  min-width: 10px;
  min-height: 10px;
  padding: 1px 6px;
  color: #fff;
  background-color: #E5704B;
  font-size: 12px;
  border-radius: 50%;
  transform: translateX(50%);
}

.nav__link {
  margin-right: 38px;
}

.nav__link:last-child {
  margin-right: 0;
}

.dropdown__wrapper {
  display: flex;
  padding: 16px 0;
  flex-wrap: wrap;
}

.dropdown__title {
  font-size: 16px;
  font-weight: 500;
  font-family: 22px;
  position: relative;
  margin-right: 54px;
  cursor: pointer;
}

.dropdown__title.arrow::before {
  right: -12px;
}

.dropdown__title.arrow::after {
  right: -15px;
}

.dropdown__list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #F9F9F9;
  top: 40px;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-radius: 0 0 12px 12px;
}

.dropdown__list.is-active {
  display: block;
  z-index: 1;
}

.dropdown__list li {
  padding: 10px 10px 10px 5px;
  transition: 0.3s;
}

.dropdown__list li:hover {
  color: #fff;
  background-color: #6A983C;
}

.dropdown__list li:hover:last-child {
  border-radius: 0 0 12px 12px;
}

.hero {
  margin-top: 64px;
}

.hero__banners {
  padding: 48px 0 0 33px;
  background-color: #ddd;
  border-radius: 12px;
  margin: 0 15px;
}

.hero__suptitle {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #6A983C;
}

.hero__title {
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 8px 0 106px;
}

.hero__btn {
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: 2px solid #46760A;
  padding: 12px 38px 12px 16px;
  background-color: transparent;
  border-radius: 12px;
  transition: 0.3s;
}

.hero__btn.arrow::before {
  right: 22px;
  top: 22px;
  transform: rotate(45deg);
}

.hero__btn.arrow::after {
  right: 22px;
  top: 25px;
  transform: rotate(-45deg);
}

.hero__btn:hover {
  color: #46760A;
  border-color: #151515;
  background-color: #151515;
}

.product {
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  margin: 0 16px;
}

.product__item {
  padding: 16px;
}

.product__picture {
  width: 100%;
}

.product__title {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 16px;
  line-height: 22px;
  color: #151515;
}

.product__image {
  width: 100%;
  border-radius: 12px;
}

.product__description {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 4px 0 16px;
  line-height: 16px;
  color: #575757;
}

.product__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
}

.product__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product__old-price {
  display: none;
  position: absolute;
  bottom: -50%;
}

.product__discount {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar__title {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 16px;
}

.sidebar__link {
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
  margin-bottom: 12px;
  text-decoration: underline;
  color: #6A983C;
  transition: 0.3s;
}

.sidebar__link:hover {
  color: #151515;
}

.selling {
  margin-top: 132px;
}

.farmes {
  margin-top: 132px;
}

.farmes__block {
  margin: 0 -16px;
}

.customers {
  margin-top: 142px;
}

.customers__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers__title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  color: #151515;
}

.customers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  border: 1px solid #F9F9F9;
}

.customers .arrow__horizontal::before {
  top: 14px;
  transform: rotate(45deg);
}

.customers .arrow__horizontal::after {
  top: 18px;
  transform: rotate(-45deg);
}

.customers__item {
  display: flex !important;
  justify-content: center;
  position: relative;
  border: 1px solid red;
  border-radius: 12px;
  padding: 24px 32px 40px 32px;
  margin-bottom: 25px;
}

.customers__description {
  text-align: center;
  width: 80%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.customers__name {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #A9A9A9;
  margin: 24px 0 16px;
}

.customers__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}

.customers .btn__green:hover {
  color: #6A983C;
}

.slider {
  margin: 41px -16px 0 -16px;
}

.headline {
  margin-top: 160px;
}

.headline__top {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.headline__content {
  margin: 0 -16px;
}

.headline .arrow__horizontal::before {
  top: 15px;
  transform: rotate(45deg);
}

.headline .arrow__horizontal::after {
  top: 19px;
  transform: rotate(-45deg);
}

.blog {
  margin-top: 142px;
}

.blog__top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.blog__top h3 {
  font-size: 18px;
}

.blog__content {
  justify-content: space-between;
  margin: 0 -16px;
}

.blog .tips {
  background: #F4F8EC;
  border-radius: 12px;
  padding: 0 8px;
  color: #6A983C;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.blog .author,
.blog .date {
  font-size: 12px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
}

.blog .author {
  margin-right: 16px;
}

.blog .bigblog,
.blog .middleblog,
.blog .smallblog {
  margin: 0 16px;
}

.bigblog {
  position: relative;
  border-radius: 12px;
  padding: 24px;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
}

.bigblog__tips {
  position: absolute;
  top: 24px;
  left: 24px;
}

.bigblog__picture {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bigblog__description {
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  line-height: 33px;
}

.bigblog__info {
  align-items: center;
}

.bigblog .author {
  margin-right: 16px;
  margin-left: 8px;
}

.middleblog__picture {
  width: 100%;
}

.middleblog__tips {
  margin: 24px 0 8px;
}

.middleblog__description {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  margin-bottom: 16px;
}

.smallblog__items {
  margin-bottom: 32px;
  align-items: center;
}

.smallblog__info {
  flex-direction: column;
}

.smallblog__picture {
  margin-left: 48px;
  min-width: 96px;
  min-height: 96px;
  border-radius: 12px;
}

.smallblog__description {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}

.footer {
  margin-top: 128px;
}

.footer__top {
  justify-content: space-between;
}

.top__title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.top__link {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 19px;
  color: #6A983C;
  margin-bottom: 16px;
  transition: 0.3s;
}

.top__link:hover {
  color: #151515;
}

.mid__title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  margin-bottom: 16px;
}

.mid__list {
  flex-wrap: wrap;
}

.mid__item {
  margin: 0 16px 16px 0;
  background-color: #F9F9F9;
  padding: 4px 10px;
  border-radius: 12px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.mid__item:hover {
  background-color: #151515;
}

.mid__item:hover a {
  color: #6A983C;
}

.mid__link {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  color: #151515;
}

.mid__text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 48px;
}
