.blog{
    margin-top: 142px;
    &__top{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
        h3{
            font-size: 18px;
        }
    }
    &__content{
        justify-content: space-between;
        margin: 0 -16px;
    }
    .tips{
        background: #F4F8EC;
        border-radius: 12px;
        padding: 0 8px;
        color: $color-green;
        @include font (12px, 600, $font-poppins);
    }
    .author,
    .date{
        @include font(12px, 500, $font-open);
        line-height: 16px;
    }
    .author{
        margin-right: 16px;
    }
    .bigblog,
    .middleblog,
    .smallblog{
        margin: 0 16px;
    }
}
.bigblog{
    position: relative;
    border-radius: 12px;
    padding: 24px;
    color: #fff;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    &__tips{
        position: absolute;
        top: 24px;
        left: 24px;
    }
    &__picture{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &__description{
        @include font(22px,600, $font-poppins);
        margin-bottom: 8px;
        line-height: 33px;
    }
    &__info{
        align-items: center;
    }
    .author{
        margin-right: 16px;
        margin-left: 8px;
    }
}
.middleblog{
    &__picture{
        width: 100%;
    }
    &__tips{
        margin: 24px 0 8px;
    }
    &__description{
        @include font(18px,600, $font-poppins);
        line-height: 27px;
        margin-bottom: 16px;
    }
}
.smallblog{
    &__items{
        margin-bottom: 32px;
        align-items: center;
    }
    &__info{
        flex-direction: column;
    }
    &__picture{
        margin-left: 48px;
        min-width: 96px;
        min-height: 96px;
        border-radius: 12px;
    }
    &__description{
        @include font(15px, 500, $font-poppins);
        margin-bottom: 16px;
    }
}