// fonts
$font-poppins: 'Poppins', sans-serif;
$font-open: 'Open Sans', sans-serif;
// colors
$color-black: #151515;
$color-green: #6A983C;
$color-darkgreen: #46760A;
$color-gray: #F9F9F9;
$color-lightgray: #F5F5F5;